# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
#Import your libraries
import numpy as np
import pandas as pd

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [3]:
# Your code here
google_play = pd.read_csv('googleplaystore.csv')

#### Examine all variables and their types in the following cell

In [4]:
# Your code here:
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [6]:
# Your code here:
google_play.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [7]:
# Your code here:
google_play.Reviews

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10841, dtype: object

In [8]:
Reviews_numeric = pd.to_numeric(google_play.Reviews, errors='coerce')

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

In [9]:
# Your code here:
google_play['Reviews_isnull'] = Reviews_numeric.isnull()

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](../images/reviews-bool.png)

In [10]:
# Your code here:
google_play.loc[google_play["Reviews_isnull"] == True]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

In [18]:
# To find all non alphanumeric values:
google_play.loc[google_play.Reviews.str.contains('[a-zA-Z]')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

In [11]:
google_play["Reviews_isnull"].unique()

array([False,  True])

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [17]:
google_play["Reviews"].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [21]:
# Your code here
import re
def convert_string_to_numeric(s):
    """
    Convert a string value to numeric. If the last character of the string is `M`, obtain the 
    numeric part of the string, multiply it with 1,000,000, then return the result. Otherwise, 
    convert the string to numeric value and return the result.
    
    Args:
        s: The Reviews score in string format.

    Returns:
        The correct numeric value of the Reviews score.
    """
    if re.findall('[a-zA-Z]', s):
        number = re.findall(r'\d+\D\d', s)
        for num in number:
            s = float(num)*1000000
    else:
        s = float(s)
    
    return s

The last step is to apply the function to the `Reviews` column in the following cell:

In [22]:
# Your code here:
google_play["Reviews"]= google_play["Reviews"].apply(convert_string_to_numeric)

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](../images/reviews-bool-fixed.png)

In [24]:
google_play.loc[google_play["Reviews_isnull"] == True]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3000000.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

In [23]:
# Your code here
google_play.Reviews.iloc[10472]

3000000.0

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [26]:
google_play["Reviews"].dtypes

dtype('float64')

In [25]:
# Your code here:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null float64
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
Reviews_isnull    10841 non-null bool
dtypes: bool(1), float64(2), object(11)
memory usage: 1.1+ MB

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [27]:
# Your code here:
google_play["Size"].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [36]:
google_play["Size"].unique()[29]

'Varies with device'

In [45]:
# Your code here:
print(f'The proportion of the value -Varies with device-  {round(len(google_play.loc[google_play.Size == "Varies with device"])/len(google_play)*100, 3)} %')

The proportion of the value -Varies with device-  15.635 %

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [46]:
# Your code here:
google_play.drop('Size', axis=1, inplace=True)

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [47]:
# Your code here:
google_play.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
Reviews_isnull       0
dtype: int64

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [48]:
# Your code here:
print(f'The proportion of the missing values in column Ratings is  {round(len(google_play.loc[google_play.Rating.isna()])/len(google_play)*100, 3)} %')

The proportion of the missing values in column Ratings is  13.597 %

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [49]:
# Your code here:
google_missing_removed = google_play.dropna(axis=0, how='any')
google_missing_removed.shape

(9360, 13)

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

In [51]:
google_missing_removed['Last Updated']

0         January 7, 2018
1        January 15, 2018
2          August 1, 2018
3            June 8, 2018
4           June 20, 2018
               ...
10834       June 18, 2017
10836       July 25, 2017
10837        July 6, 2018
10839    January 19, 2015
10840       July 25, 2018
Name: Last Updated, Length: 9360, dtype: object

In [52]:
# Your code here:
google_missing_removed['Last Updated'] = pd.to_datetime(google_missing_removed['Last Updated'])
google_missing_removed['Last Updated'].value_counts()

C:\Users\AaronElias\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2018-08-03    319
2018-08-02    284
2018-07-31    279
2018-08-01    275
2018-07-30    199
             ...
2017-01-07      1
2015-08-21      1
2016-01-11      1
2015-09-09      1
2014-08-11      1
Name: Last Updated, Length: 1299, dtype: int64

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [53]:
# Your code here:
google_missing_removed.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [55]:
# Your code here:
google_missing_removed['Price Numerical'] = google_missing_removed.Price.str.replace('$', '')
google_missing_removed['Price Numerical']

C:\Users\AaronElias\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0        0
1        0
2        0
3        0
4        0
        ..
10834    0
10836    0
10837    0
10839    0
10840    0
Name: Price Numerical, Length: 9360, dtype: object

#### Second step, coerce the `Price Numerical` column to numeric.

In [57]:
# Your code here:
google_missing_removed['Price Numerical'] = google_missing_removed['Price Numerical'].apply(pd.to_numeric, errors='coerce')
google_missing_removed['Price Numerical']

C:\Users\AaronElias\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
10834    0.0
10836    0.0
10837    0.0
10839    0.0
10840    0.0
Name: Price Numerical, Length: 9360, dtype: float64

**Finally, drop the original `Price` column.**

In [58]:
# Your code here:
google_missing_removed.drop('Price', axis=1, inplace=True)

C:\Users\AaronElias\anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [59]:
# Your code here
google_missing_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
App                9360 non-null object
Category           9360 non-null object
Rating             9360 non-null float64
Reviews            9360 non-null float64
Installs           9360 non-null object
Type               9360 non-null object
Content Rating     9360 non-null object
Genres             9360 non-null object
Last Updated       9360 non-null datetime64[ns]
Current Ver        9360 non-null object
Android Ver        9360 non-null object
Reviews_isnull     9360 non-null bool
Price Numerical    9360 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(3), object(8)
memory usage: 959.8+ KB

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [61]:
# Your code here:
google_reviews = pd.read_csv('googleplaystore_user_reviews.csv')

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [62]:
# Your code here
google_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [63]:
# Your code here:
review_missing_removed = google_reviews.dropna(axis=0, how='any')

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [64]:
# Your code here:
review_missing_removed.App.value_counts()

Bowmasters                                            312
Helix Jump                                            273
Angry Birds Classic                                   273
Calorie Counter - MyFitnessPal                        254
Duolingo: Learn Languages Free                        240
                                                     ...
HD Camera                                               1
Draw A Stickman                                         1
CBS News                                                1
Calendar+ Schedule Planner App                          1
Drawing for Kids Learning Games for Toddlers age 3      1
Name: App, Length: 865, dtype: int64

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

In [73]:
review_missing_removed.Sentiment.value_counts()[0]

23998

In [66]:
for x in np.where(review_missing_removed.Sentiment == 'Positive'):
    print(len(x))

23998

In [67]:
# Your code below

def positive_function(x):
    """
    Count how many times the string `Positive` appears in a column (exact string match).
    
    Args:
        x: data column
    
    Returns:
        The number of occurrences of `Positive` in the column data.
    """
    for pos in np.where(x == 'Positive'):
        return len(pos)

In [68]:
positive_function(review_missing_removed.Sentiment)

23998

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](../images/positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

In [80]:
# Your code here:
columns = ['Positive', 'Total']
google_agg = review_missing_removed.groupby('App').agg({'Sentiment': [positive_function, 'count']})
google_agg.columns = google_agg.columns.droplevel(0)
google_agg.columns = columns

Print the first 5 rows of `google_agg` to check it.

In [81]:
# Your code here
google_agg.head()

                                  Positive  Total
App
10 Best Foods for You                  162    194
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        31     40
11st                                    23     39
1800 Contacts - Lens Store              64     80
1LINE – One Line with One Touch         27     38

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [89]:
np.where(google_agg['Total']== 0, 0, google_agg['Positive'] / google_agg['Total'])

array([0.83505155, 0.775     , 0.58974359, 0.8       , 0.71052632,
       0.78125   , 0.85      , 0.68421053, 0.575     , 0.79487179,
       0.425     , 0.87096774, 0.71428571, 1.        , 0.85      ,
       0.77777778, 0.33333333, 0.55555556, 0.875     , 1.        ,
       0.90909091, 0.71428571, 0.47488584, 0.97435897, 0.80116959,
       0.43589744, 0.58823529, 0.75      , 0.78947368, 0.58536585,
       0.67857143, 0.81081081, 0.25714286, 0.52777778, 0.69444444,
       0.51428571, 0.66666667, 0.68421053, 0.83333333, 0.22222222,
       0.51515152, 0.86111111, 0.75757576, 0.80645161, 0.54545455,
       0.55882353, 0.78787879, 0.375     , 0.5       , 0.5       ,
       0.8125    , 0.60869565, 0.55172414, 0.55      , 0.44      ,
       0.82857143, 0.69444444, 0.33333333, 0.78873239, 0.71875   ,
       0.60869565, 0.4       , 0.4       , 0.85714286, 0.52941176,
       0.7345679 , 0.76190476, 0.73333333, 0.44117647, 0.59375   ,
       0.85714286, 0.72727273, 0.38095238, 0.70833333, 0.58064516,
       0.59090909, 0.64102564, 0.5       , 0.61538462, 0.61111111,
       0.55882353, 0.7       , 0.64444444, 0.6       , 0.92      ,
       0.84375   , 0.83333333, 0.8       , 0.78787879, 0.66153846,
       0.35294118, 0.67647059, 0.68181818, 1.        , 0.66666667,
       0.84210526, 0.58857143, 0.5       , 0.8       , 0.55555556,
       1.        , 0.48888889, 0.5       , 0.46511628, 0.55555556,
       0.65714286, 0.28205128, 0.77777778, 0.75675676, 0.53846154,
       0.96774194, 0.53488372, 0.66666667, 0.55172414, 0.45421245,
       0.38461538, 0.66666667, 0.6       , 0.64285714, 0.79166667,
       0.29230769, 0.25806452, 0.75510204, 1.        , 0.89361702,
       0.48      , 0.63636364, 0.46376812, 0.61666667, 0.66666667,
       0.38095238, 0.46153846, 0.84210526, 0.38235294, 0.94642857,
       0.4516129 , 0.55789474, 0.76744186, 0.55555556, 0.53424658,
       0.85714286, 0.67741935, 0.63888889, 0.44444444, 0.81081081,
       0.75362319, 0.7027027 , 0.62162162, 0.41304348, 0.65217391,
       0.5625    , 0.5       , 0.58730159, 0.67346939, 0.51428571,
       0.5862069 , 0.81818182, 0.6       , 0.62162162, 0.53846154,
       0.73684211, 0.67567568, 0.36111111, 0.44444444, 0.65      ,
       0.675     , 0.60869565, 0.66666667, 0.61538462, 0.65      ,
       0.70833333, 0.84615385, 0.78378378, 0.77142857, 0.67567568,
       0.64      , 0.51351351, 0.59459459, 1.        , 0.55555556,
       0.47058824, 0.63636364, 0.76666667, 0.6       , 0.72727273,
       0.48051948, 0.48333333, 0.65625   , 0.45      , 0.55      ,
       0.275     , 0.575     , 0.52631579, 0.69230769, 0.6875    ,
       0.82608696, 0.65384615, 0.27777778, 0.57894737, 0.58064516,
       0.55844156, 0.375     , 0.83783784, 0.85      , 0.5       ,
       0.45714286, 0.49438202, 0.625     , 0.59550562, 0.33673469,
       0.69444444, 0.81578947, 0.58333333, 0.5       , 0.81081081,
       0.63888889, 0.5       , 0.5       , 1.        , 0.33333333,
       1.        , 1.        , 0.6       , 0.85714286, 0.28282828,
       0.72972973, 0.625     , 0.92105263, 0.8       , 0.83505155,
       0.66666667, 0.85      , 0.675     , 0.69230769, 0.725     ,
       0.71794872, 0.61538462, 0.89189189, 0.72972973, 0.67857143,
       0.53896104, 0.63888889, 0.52777778, 0.81578947, 0.48717949,
       0.66666667, 0.79487179, 0.875     , 0.35      , 0.375     ,
       0.375     , 0.47222222, 0.64      , 0.72727273, 0.66666667,
       0.45      , 0.54166667, 0.69230769, 0.75      , 0.60526316,
       0.8       , 0.7       , 0.85      , 0.51851852, 1.        ,
       0.8125    , 0.75      , 0.625     , 0.59090909, 0.67647059,
       0.32352941, 0.68965517, 0.72727273, 0.6       , 0.58333333,
       0.61290323, 0.57142857, 0.58139535, 0.4516129 , 0.80769231,
       0.83333333, 0.66666667, 0.72      , 0.71428571, 0.69444444,
       0.66197183, 0.52941176, 0.91428571, 0.66666667, 0.88888889,
       0.32352941, 0.71052632, 0.61403509, 0.        , 0.640625  ,
       0.62962963, 0.875     , 0.57142857, 0.5       , 1.        ,
       0.66666667, 0.65116279, 0.77464789, 0.67567568, 0.58035714,
       0.72222222, 0.58974359, 0.69444444, 0.73684211, 0.61538462,
       1.        , 0.25      , 1.        , 1.        , 0.5       ,
       0.5       , 1.        , 0.33333333, 0.        , 0.        ,
       1.        , 1.        , 0.83333333, 0.66666667, 0.86153846,
       0.80740741, 0.89189189, 0.87      , 0.66535433, 0.86330935,
       0.88888889, 0.86111111, 0.64035088, 0.28767123, 0.425     ,
       0.37349398, 0.68421053, 0.55      , 0.7       , 0.63636364,
       0.78947368, 0.5       , 0.73770492, 0.64102564, 0.875     ,
       0.625     , 0.78947368, 0.575     , 0.62162162, 0.54054054,
       0.61538462, 0.61538462, 0.72972973, 0.71794872, 0.7       ,
       0.5       , 0.80769231, 0.7       , 0.53846154, 0.65789474,
       0.57894737, 0.64102564, 0.5       , 0.56410256, 0.45      ,
       0.5       , 0.61538462, 0.46153846, 0.8       , 0.275     ,
       0.64848485, 0.6969697 , 0.63636364, 0.37837838, 0.5       ,
       0.59782609, 0.89189189, 0.75      , 0.92366412, 0.33333333,
       0.76315789, 0.53125   , 0.60902256, 0.81578947, 0.59090909,
       0.525     , 0.5       , 0.89655172, 0.68421053, 0.42105263,
       0.71052632, 0.55      , 0.725     , 0.94594595, 0.74358974,
       0.40740741, 0.54054054, 0.72222222, 0.66666667, 0.63157895,
       0.9       , 0.71794872, 0.74358974, 0.71794872, 1.        ,
       0.77142857, 0.55263158, 0.73684211, 0.9       , 0.68421053,
       0.5       , 0.73626374, 0.875     , 0.85      , 0.78947368,
       0.91891892, 0.71111111, 0.5       , 0.76      , 0.76923077,
       0.67857143, 0.94285714, 0.88235294, 0.528     , 0.        ,
       0.84      , 0.56521739, 0.82352941, 0.81818182, 0.88235294,
       0.76047904, 0.44736842, 0.56410256, 0.8       , 0.72413793,
       1.        , 0.83333333, 0.25      , 0.66666667, 1.        ,
       1.        , 0.5       , 0.33333333, 0.71428571, 0.6       ,
       0.33333333, 0.66666667, 0.5       , 0.41666667, 0.225     ,
       0.56410256, 0.74193548, 0.54054054, 0.89189189, 0.84615385,
       0.58823529, 0.87878788, 0.73076923, 0.75      , 0.59259259,
       0.54545455, 0.69565217, 0.73214286, 0.83098592, 0.38235294,
       0.59259259, 0.38461538, 0.        , 0.5       , 0.65957447,
       0.77777778, 0.51351351, 0.55882353, 0.63888889, 0.77777778,
       0.5625    , 0.58823529, 0.76712329, 0.5       , 0.75471698,
       0.35897436, 0.55263158, 0.62222222, 0.82051282, 0.6       ,
       0.89473684, 1.        , 0.55555556, 0.77777778, 0.5       ,
       0.65714286, 0.75      , 0.66666667, 0.        , 0.        ,
       0.        , 1.        , 1.        , 0.66666667, 0.61764706,
       0.36363636, 0.79310345, 0.375     , 0.43589744, 0.60526316,
       0.82051282, 0.67857143, 0.54054054, 0.55      , 0.84210526,
       0.83333333, 0.35135135, 0.6875    , 0.60869565, 0.76666667,
       0.86206897, 0.20512821, 0.58333333, 0.5       , 0.575     ,
       0.92307692, 0.39473684, 0.61111111, 0.625     , 0.83783784,
       0.68421053, 0.82051282, 0.43589744, 0.77142857, 0.68421053,
       0.83333333, 0.57142857, 0.5       , 0.78947368, 0.25641026,
       0.79487179, 0.5875    , 0.725     , 0.56756757, 0.875     ,
       0.775     , 0.74358974, 0.74358974, 0.42105263, 0.92307692,
       0.64285714, 0.67948718, 0.9375    , 0.75862069, 0.453125  ,
       0.87096774, 0.65217391, 0.5       , 0.57142857, 0.67857143,
       0.41666667, 0.53846154, 0.64864865, 0.78947368, 0.71794872,
       0.64102564, 0.51282051, 0.71052632, 0.48484848, 0.56410256,
       0.52727273, 0.66666667, 0.45454545, 0.58333333, 0.775     ,
       0.58823529, 0.40151515, 0.48571429, 0.4137931 , 0.57142857,
       0.29411765, 0.78571429, 0.67164179, 0.84375   , 0.84615385,
       0.6       , 0.75675676, 0.6875    , 0.82608696, 0.7       ,
       0.72727273, 0.8125    , 0.71212121, 0.44927536, 0.85294118,
       0.70588235, 0.61290323, 0.41818182, 0.64705882, 0.61538462,
       0.40707965, 0.71794872, 0.78378378, 0.52112676, 0.72      ,
       0.66666667, 0.55      , 0.54545455, 0.58333333, 0.60869565,
       0.27272727, 0.45454545, 0.73529412, 0.62857143, 0.43333333,
       0.49206349, 0.40625   , 0.66666667, 0.85714286, 0.63333333,
       0.64516129, 0.52941176, 0.72580645, 0.84375   , 0.65853659,
       0.83333333, 0.8       , 0.4       , 0.7       , 0.93103448,
       0.546875  , 0.63636364, 0.8125    , 0.57692308, 0.53846154,
       1.        , 0.76923077, 0.67857143, 0.93548387, 0.76470588,
       0.72857143, 0.7027027 , 0.65584416, 0.63636364, 0.66197183,
       0.84210526, 0.67647059, 0.3902439 , 0.43661972, 0.81081081,
       0.72222222, 0.82352941, 0.76315789, 0.85416667, 0.80327869,
       0.66666667, 0.53571429, 0.31034483, 0.64705882, 0.52380952,
       0.77419355, 0.67741935, 0.28571429, 0.5625    , 0.63636364,
       0.40298507, 0.61016949, 0.671875  , 0.37837838, 0.93333333,
       0.        , 0.5       , 0.59259259, 0.75675676, 0.74285714,
       0.76315789, 0.69444444, 0.91666667, 0.625     , 0.62857143,
       0.61764706, 0.53246753, 0.58333333, 0.48333333, 0.        ,
       0.70967742, 0.74683544, 0.82954545, 0.67741935, 0.72727273,
       0.7       , 0.62962963, 0.86666667, 0.78571429, 0.82758621,
       0.70967742, 0.3030303 , 0.94444444, 0.70588235, 0.76666667,
       0.51724138, 0.60606061, 0.61764706, 0.5       , 0.63636364,
       1.        , 1.        , 0.75      , 0.74285714, 0.69444444,
       0.77777778, 0.77777778, 0.82051282, 0.55263158, 0.52941176,
       0.83333333, 0.61940299, 0.66666667, 0.89189189, 0.71111111,
       0.74358974, 0.64102564, 0.52631579, 0.61261261, 0.675     ,
       0.725     , 0.64102564, 0.52631579, 0.56410256, 0.84615385,
       0.515625  , 0.48717949, 0.38461538, 0.675     , 0.71052632,
       0.71428571, 0.76923077, 0.67567568, 0.81578947, 0.95      ,
       0.3       , 0.79487179, 0.8       , 0.38461538, 0.76315789,
       0.75      , 0.75      , 0.64864865, 0.73684211, 0.56944444,
       0.83333333, 0.60526316, 0.55      , 0.55263158, 0.675     ,
       0.58974359, 0.66666667, 0.55      , 0.69230769, 0.7486911 ,
       1.        , 1.        , 0.        , 1.        , 1.        ,
       0.5       , 1.        , 0.65517241, 0.65822785, 0.61111111,
       0.76923077, 0.71794872, 0.79166667, 0.52631579, 0.35      ,
       0.45      , 0.5       , 0.64102564, 0.54054054, 0.24      ,
       0.        , 0.66666667, 0.76470588, 0.58823529, 0.72222222,
       0.76923077, 0.67741935, 0.47368421, 0.74193548, 0.71428571,
       0.76666667, 0.80327869, 0.33333333, 0.23809524, 0.5       ,
       0.4       , 0.30769231, 0.6       , 0.375     , 0.475     ,
       0.51351351, 0.55      , 0.35897436, 0.41025641, 0.57894737,
       0.9       , 0.82716049, 0.58333333, 0.75438596, 0.75      ,
       0.82352941, 0.52      , 0.59090909, 0.54545455, 0.74074074,
       0.45454545, 0.55737705, 0.86666667, 0.81818182, 0.78571429,
       0.35      , 0.79487179, 0.76556777, 0.55882353, 0.58461538,
       0.59701493, 0.66666667, 0.53333333, 0.625     , 0.75      ,
       0.39622642, 0.7       , 0.38709677, 0.75675676, 0.70588235,
       0.66666667, 0.70454545, 0.734375  , 0.54901961, 0.73913043,
       0.28787879, 0.85714286, 0.22222222, 0.94736842, 0.64      ,
       0.40625   , 0.69230769, 0.73684211, 0.92307692, 0.84615385,
       1.        , 1.        , 0.52380952, 0.51923077, 0.71428571,
       0.55882353, 0.89189189, 0.71052632, 0.71052632, 0.6       ,
       0.66666667, 0.64615385, 0.7       , 0.73228346, 0.41666667,
       0.57352941, 0.5       , 0.4375    , 0.48484848, 0.38095238])

In [90]:
# Your code here:
google_agg['Positive Ratio'] = np.where(google_agg['Total'] == 0, 0, google_agg['Positive'] / google_agg['Total'])

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [91]:
# Your code here:
google_agg.drop(['Positive', 'Total'], axis=1, inplace=True)

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](../images/positive-review-ratio.png)

In [92]:
# Your code here:
google_agg.head()

                                  Positive Ratio
App
10 Best Foods for You                   0.835052
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        0.775000
11st                                    0.589744
1800 Contacts - Lens Store              0.800000
1LINE – One Line with One Touch         0.710526

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [93]:
# Your code here:
google = pd.merge(google_missing_removed, google_agg, how='inner', on='App')

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](../images/google-final-head.png)

In [94]:
# Your code here:
google.head()

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull,Price Numerical,Positive Ratio
0,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,False,0.0,0.590909
1,Coloring book moana,FAMILY,3.9,974.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,False,0.0,0.590909
2,Garden Coloring Book,ART_AND_DESIGN,4.4,13791.0,"1,000,000+",Free,Everyone,Art & Design,2017-09-20,2.9.2,3.0 and up,False,0.0,0.711111
3,FlipaClip - Cartoon animation,ART_AND_DESIGN,4.3,194216.0,"5,000,000+",Free,Everyone,Art & Design,2018-08-03,2.2.5,4.0.3 and up,False,0.0,1.000000
4,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,4.1,654.0,"100,000+",Free,Everyone,Art & Design,2018-03-20,1.1,4.0.3 and up,False,0.0,0.605263